{% extends 'base.html.twig' %}

{% block title %}Botanique{% endblock %}

{% block content %}
<style>
    .example-wrapper {  display:flex; flex-direction: row; justify-content: space-around;}
    h1 {text-align: center;}
  
</style>

<div>
   
    <h1>Gérer les taxons</h1>
    <div class="example-wrapper">
    <div>
   <a href="{{ path('embranchement_index') }}"><h2>Embranchements</h2> </a>
   <a href="{{ path('sous_embranchement_index') }}"><h2>Sous-embranchements</h2> </a>
     <a href="{{ path('super_classe_index') }}"><h2>Super-classes</h2> </a>
       <a href="{{ path('classe_index') }}"><h2>Classes</h2> </a>
        <a href="{{ path('sous_classe_index') }}"><h2>Sous-classes</h2> </a>
         <a href="{{ path('ordre_index') }}"><h2>Ordres</h2> </a>
          <a href="{{ path('famille_index') }}"><h2>Familles</h2> </a>
           <a href="{{ path('genre_index') }}"><h2>Genres</h2> </a>
             <a href="{{ path('espece_index') }}"><h2>Especes</h2> </a>
 <h1>Gérer les photos</h1>
               <a href="{{ path('photo_index') }}"><h2>Photos</h2> </a>

	 </div>
	 </div>
    
</div>
</div>
{% endblock %}
