{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block content %}
    <h1>Genre {{ genre.nom }} {% if (genre.vernaculaire is defined and genre.vernaculaire != "") %}
({{ genre.vernaculaire }}){% endif %}<br/>
Famille des {{ genre.famille.nom }}, Ordre des {{ genre.famille.ordre.nom }}
</h1>

{% for photo in genre.photos %} 
  <img src="{{ asset('photos/' ~ photo.fichier) }}"/>
{% endfor %}
{% for espece in genre.especes %} 
    {% for photo in espece.photos %} 
    
    <img src="{{ asset('photos/' ~ photo.fichier) }}"/>
    {% endfor %}
{% endfor %}
   

    <a href="{{ path('genre_index') }}">back to list</a>

    <a href="{{ path('genre_edit', {'id': genre.id}) }}">edit</a>

    {{ include('genre/_delete_form.html.twig') }}
{% endblock %}
