{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block content %}
    <h1>Genre {{ genre.nom }} {% if (genre.vernaculaire is defined and genre.vernaculaire != "") %}
({{ genre.vernaculaire }}){% endif %}<br/>
Famille des {{ genre.famille.nom }}, Ordre des {{ genre.famille.ordre.nom }}
</h1>

   

    <a href="{{ path('genre_index') }}">back to list</a>

    <a href="{{ path('genre_edit', {'id': genre.id}) }}">edit</a>

    {{ include('genre/_delete_form.html.twig') }}
{% endblock %}
