{% extends 'base.html.twig' %}

{% block title %}Espece{% endblock %}

{% block content %}
    <h1>{{ espece.genre.nom }} {{ espece.nom }} {{ espece.savant }} {% if (espece.vernaculaire is defined and espece.vernaculaire != "") %}
({{ espece.vernaculaire }}){% endif %}</h1>
<h2>Famille des {{ espece.genre.famille.nom }}, Ordre des  {{ espece.genre.famille.ordre.nom }}, {% if (espece.genre.famille.ordre.sousClasse is defined and espece.genre.famille.ordre.sousClasse != null) %}
Sous-classe des {{ espece.genre.famille.ordre.sousClasse.nom }}, Classe des {{ espece.genre.famille.ordre.sousClasse.classe.nom }}
{% else %}
Classe des {{ espece.genre.famille.ordre.classe.nom }}
{% endif %}</h2>

{% for photo in espece.photos %} 
  <img src="{{ asset('photos/' ~ photo.fichier) }}"/>
{% endfor %}

    <a href="{{ path('espece_index') }}">back to list</a>

    <a href="{{ path('espece_edit', {'id': espece.id}) }}">edit</a>

    {{ include('espece/_delete_form.html.twig') }}
{% endblock %}
