{% extends 'base.html.twig' %}

{% block title %}Espece{% endblock %}

{% block content %}
    <h1>Espece</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ espece.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ espece.nom }}</td>
            </tr>
            <tr>
                <th>Vernaculaire</th>
                <td>{{ espece.vernaculaire }}</td>
            </tr>
            <tr>
                <th>Savant</th>
                <td>{{ espece.savant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('espece_index') }}">back to list</a>

    <a href="{{ path('espece_edit', {'id': espece.id}) }}">edit</a>

    {{ include('espece/_delete_form.html.twig') }}
{% endblock %}
