{% extends 'base.html.twig' %}

{% block title %}Classe{% endblock %}

{% block content %}
    <h1>Classe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ classe.nom }}</td>
            </tr>
            <tr>
                <th>Caracteres</th>
                <td>{{ classe.caracteres }}</td>
            </tr>
            <tr>
                <th>Vernaculaire</th>
                <td>{{ classe.vernaculaire }}</td>
            </tr>
            <tr>
                <th>Embranchement</th>
                <td>{{ classe.embranchement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('classe_index') }}">back to list</a>

    <a href="{{ path('classe_edit', {'id': classe.id}) }}">edit</a>

    {{ include('classe/_delete_form.html.twig') }}
{% endblock %}
