{% extends 'base.html.twig' %}

{% block title %}Embranchement{% endblock %}

{% block body %}
    <h1>Embranchement {{ embranchement.nom }}</h1>

    <table class="table">
        <tbody>
        {% for sousEmbranchement in embranchement.sousEmbranchements %}
            
            <tr>

                <td>   <a href="{{ path('sous_embranchement_show', {'id': sousEmbranchement.id}) }}"><h2>{{ sousEmbranchement.nom }}</h2></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('embranchement_index') }}">back to list</a>

    <a href="{{ path('embranchement_edit', {'id': embranchement.id}) }}">edit</a>

    {{ include('embranchement/_delete_form.html.twig') }}
{% endblock %}
