{% extends 'base.html.twig' %}

{% block title %}Embranchement{% endblock %}

{% block content %}
    <h1>Embranchement des {{ embranchement.nom  }}</h1>

    <ul>
        {% for sousEmbranchement in embranchement.sousEmbranchements %}
            <li>
               <a href="{{ path('sous_embranchement_show', {'id': sousEmbranchement.id}) }}"><h2>Sous-embranchement des {{ sousEmbranchement.nom }} {% if sousEmbranchement.vernaculaire is defined %}({{ sousEmbranchement.vernaculaire }}){% endif %}</h2></a>
                 <ul>
                    {% for superClasse in sousEmbranchement.superClasses %}
                        <li>
                        <a href="{{ path('super_classe_show', {'id': superClasse.id}) }}"><h3>Super-classe des{{ superClasse.nom }} {% if superClasse.vernaculaire is defined %}({{ superClasse.vernaculaire }}){% endif %}</h3></a>
                        <ul>
                            {% for classe in superClasse.classes %}
                            <li>
                             <a href="{{ path('classe_show', {'id': classe.id}) }}"><h4>Classe des {{ classe.nom }}</h4></a>
                            </li>
                            {% endfor %}
                        </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>

      <ul>
        {% for superClasse in embranchement.superClasses %}
            
            <li>   <a href="{{ path('super_classe_show', {'id': superClasse.id}) }}"><h3>Super-classe des {{ superClasse.nom }} {% if superClasse.vernaculaire is defined %}({{ superClasse.vernaculaire }}){% endif %}</h3></a>
             <ul>
                            {% for classe in superClasse.classes %}
                            <li>
                             <a href="{{ path('classe_show', {'id': classe.id}) }}"><h4>Classe des {{ classe.nom }}</h4></a>
                            </li>
                            {% endfor %}
                        </ul>
            </li>
            {% endfor %}
        </ul>

     <ul>
        {% for Classe in embranchement.Classes %}
            
            <li>

                 <a href="{{ path('super_classe_show', {'id': Classe.id}) }}"><h4>Classe des {{ Classe.nom }}</h4></a>
            </li>
            {% endfor %}
        </ul>

    <a href="{{ path('embranchement_index') }}">back to list</a>

    <a href="{{ path('embranchement_edit', {'id': embranchement.id}) }}">edit</a>

    {{ include('embranchement/_delete_form.html.twig') }}
{% endblock %}
