{% extends 'base.html.twig' %}

{% block title %}SuperClasse{% endblock %}

{% block content %}
    <h1>Super-classe des {{ super_classe.nom }} {% if super_classe.vernaculaire is defined %}({{ super_classe.vernaculaire }}){% endif %}</h1>

     <ul>
        {% for Classe in super_classe.Classes %}
            
            <li>

               <a href="{{ path('classe_show', {'id': Classe.id}) }}"><h2>Classe des {{ Classe.nom }} {% if Classe.vernaculaire is defined %}({{ Classe.vernaculaire }}){% endif %}</h2></a>
               <ul>
                {% for sousClasse in Classe.sousClasses %}
                <li> <a href="{{ path('sous_classe_show', {'id': sousClasse.id}) }}"><h2>Sous-classe des {{ sousClasse.nom }} {% if sousClasse.vernaculaire is defined %}({{ sousClasse.vernaculaire }}){% endif %}</h2></a></li>
                 {% endfor %}
               </ul>
            </li>
            {% endfor %}
        </ul>

    <a href="{{ path('super_classe_index') }}">back to list</a>

    <a href="{{ path('super_classe_edit', {'id': super_classe.id}) }}">edit</a>

    {{ include('super_classe/_delete_form.html.twig') }}
{% endblock %}
