{% extends 'base.html.twig' %}

{% block title %}SousEmbranchement{% endblock %}

{% block content %}
    <h1>SousEmbranchement des {{ sous_embranchement.nom }} {% if sousEmbranchement.vernaculaire is defined %}({{ sousEmbranchement.vernaculaire }}) {% endif %}</h1>

  
     <ul>
        {% for superClasse in sous_embranchement.superClasses %}
            
            <li>

               <a href="{{ path('super_classe_show', {'id': superClasse.id}) }}"><h2>Super-classe des {{ superClasse.nom }} {% if superClasse.vernaculaire is defined %}({{ superClasse.vernaculaire }}){% endif %}</h2></a>
               <ul>
                 {% for Classe in superClasse.Classes %}
                    <li>
                     <a href="{{ path('classe_show', {'id': Classe.id}) }}"><h3>Classe des {{ Classe.nom }}  {% if classe.vernaculaire is defined %}({{ classe.vernaculaire }}){% endif %}</h3></a>
                    </li>
                 {% endfor %}
               </ul>
            </li>
            {% endfor %}
    </ul>

     <ul>
        {% for Classe in sous_embranchement.Classes %}
            
            <li>

                 <a href="{{ path('classe_show', {'id': Classe.id}) }}"><h3>Classe des {{ Classe.nom }}  {% if classe.vernaculaire is defined %}({{ classe.vernaculaire }}){% endif %}</h3></a>
            </li>
            {% endfor %}
        </ul>


    <a href="{{ path('sous_embranchement_index') }}">back to list</a>

    <a href="{{ path('sous_embranchement_edit', {'id': sous_embranchement.id}) }}">edit</a>

    {{ include('sous_embranchement/_delete_form.html.twig') }}
{% endblock %}
