{% extends 'base.html.twig' %}

{% block title %}SousClasse index{% endblock %}

{% block content %}
    <h1>SousClasse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Vernaculaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_classe in sous_classes %}
            <tr>
                <td>{{ sous_classe.id }}</td>
                <td>{{ sous_classe.nom }}</td>
                <td>{{ sous_classe.vernaculaire }}</td>
                <td>
                    <a href="{{ path('sous_classe_show', {'id': sous_classe.id}) }}">show</a>
                    <a href="{{ path('sous_classe_edit', {'id': sous_classe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sous_classe_new') }}">Create new</a>
{% endblock %}
